openapi: 3.2.0
info:
  title: LlamaIndex LlamaCloud Index Index Data Sources API
  description: The LlamaCloud Index API provides a fully automated document ingestion pipeline with built-in retrieval capabilities. It allows developers to create and manage indexes (pipelines), upload documents for automatic parsing and embedding, and perform retrieval queries against indexed content. The API supports customizable pipeline configurations and integrates with various vector stores, making it suitable for building production RAG applications without managing infrastructure.
  version: '1.0'
  contact:
    name: LlamaIndex Support
    url: https://www.llamaindex.ai/contact
  termsOfService: https://www.llamaindex.ai/terms-of-service
servers:
- url: https://api.cloud.llamaindex.ai/api/v1
  description: US Production Server
- url: https://api.cloud.llamaindex.eu/api/v1
  description: EU Production Server
security:
- bearerAuth: []
tags:
- name: Index Data Sources
  description: Connect and manage external data sources for automatic document ingestion into an index.
paths:
  /pipelines/{pipelineId}/data-sources:
    get:
      operationId: listIndexDataSources
      summary: List index data sources
      description: Retrieve data sources connected to a specific index for automatic document ingestion.
      tags:
      - Index Data Sources
      parameters:
      - $ref: '#/components/parameters/pipelineId'
      responses:
        '200':
          description: Successfully retrieved list of data sources
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataSource'
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Index not found
    put:
      operationId: addDataSourcesToIndex
      summary: Add data sources to an index
      description: Connect external data sources to an index for automatic document ingestion. The index will sync content from these sources based on the configured schedule.
      tags:
      - Index Data Sources
      parameters:
      - $ref: '#/components/parameters/pipelineId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DataSourceInput'
      responses:
        '200':
          description: Data sources added to index successfully
        '400':
          description: Bad request - invalid data source configuration
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Index not found
components:
  schemas:
    DataSourceInput:
      type: object
      description: Input for connecting a data source to an index.
      required:
      - name
      - source_type
      properties:
        name:
          type: string
          description: Human-readable name for the data source.
        source_type:
          type: string
          description: Type of the data source.
        config:
          type: object
          additionalProperties: true
          description: Configuration specific to the data source type.
    DataSource:
      type: object
      description: A data source connected to an index for automatic document ingestion.
      properties:
        id:
          type: string
          description: Unique identifier of the data source.
        name:
          type: string
          description: Human-readable name of the data source.
        source_type:
          type: string
          description: Type of the data source.
        config:
          type: object
          additionalProperties: true
          description: Configuration specific to the data source type.
  parameters:
    pipelineId:
      name: pipelineId
      in: path
      description: Unique identifier of the index (pipeline).
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: LlamaCloud API key obtained from the LlamaCloud dashboard. Include as a Bearer token in the Authorization header.
externalDocs:
  description: Index API and Clients Guide
  url: https://developers.llamaindex.ai/python/cloud/llamacloud/guides/api_sdk/
