openapi: 3.2.0
info:
  title: LlamaIndex LlamaCloud Index Index Retrieval API
  description: The LlamaCloud Index API provides a fully automated document ingestion pipeline with built-in retrieval capabilities. It allows developers to create and manage indexes (pipelines), upload documents for automatic parsing and embedding, and perform retrieval queries against indexed content. The API supports customizable pipeline configurations and integrates with various vector stores, making it suitable for building production RAG applications without managing infrastructure.
  version: '1.0'
  contact:
    name: LlamaIndex Support
    url: https://www.llamaindex.ai/contact
  termsOfService: https://www.llamaindex.ai/terms-of-service
servers:
- url: https://api.cloud.llamaindex.ai/api/v1
  description: US Production Server
- url: https://api.cloud.llamaindex.eu/api/v1
  description: EU Production Server
security:
- bearerAuth: []
tags:
- name: Index Retrieval
  description: Query indexed content using configurable retrieval modes and parameters.
paths:
  /pipelines/{pipelineId}/retrieve:
    post:
      operationId: retrieveFromIndex
      summary: Retrieve from index
      description: Execute a retrieval query against the indexed content. Supports multiple retrieval modes (fast, accurate, advanced) and configurable parameters for controlling the number of results and re-ranking behavior.
      tags:
      - Index Retrieval
      parameters:
      - $ref: '#/components/parameters/pipelineId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrievalRequest'
      responses:
        '200':
          description: Retrieval results returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievalResponse'
        '400':
          description: Bad request - invalid query parameters
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Index not found
components:
  schemas:
    RetrievalResult:
      type: object
      description: A single retrieval result with matched content and metadata.
      properties:
        text:
          type: string
          description: The retrieved text content.
        score:
          type: number
          format: float
          description: Relevance score for the result.
        metadata:
          type: object
          additionalProperties: true
          description: Metadata associated with the retrieved content.
    RetrievalResponse:
      type: object
      description: Response containing retrieval results from an index query.
      properties:
        results:
          type: array
          description: List of retrieval results ranked by relevance.
          items:
            $ref: '#/components/schemas/RetrievalResult'
    RetrievalRequest:
      type: object
      description: Request body for running a retrieval query against an index.
      required:
      - query
      properties:
        query:
          type: string
          description: The search query to run against the indexed content.
        mode:
          type: string
          enum:
          - fast
          - accurate
          - advanced
          description: Retrieval mode controlling the trade-off between speed and accuracy.
        top_k:
          type: integer
          minimum: 1
          description: Maximum number of results to return after re-ranking.
  parameters:
    pipelineId:
      name: pipelineId
      in: path
      description: Unique identifier of the index (pipeline).
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: LlamaCloud API key obtained from the LlamaCloud dashboard. Include as a Bearer token in the Authorization header.
externalDocs:
  description: Index API and Clients Guide
  url: https://developers.llamaindex.ai/python/cloud/llamacloud/guides/api_sdk/
