openapi: 3.1.0
info:
  title: LlamaIndex LlamaCloud Data Sources Index Files API
  description: The LlamaCloud API is the central REST API for LlamaIndex's cloud platform, providing programmatic access to managed document processing, indexing, and retrieval services. It enables developers to build production-grade LLM applications by leveraging cloud-hosted infrastructure for document ingestion, knowledge management, and agent orchestration. The API supports authentication via API keys and is available in both US and EU regions.
  version: '1.0'
  contact:
    name: LlamaIndex Support
    url: https://www.llamaindex.ai/contact
  termsOfService: https://www.llamaindex.ai/terms-of-service
servers:
- url: https://api.cloud.llamaindex.ai/api/v1
  description: US Production Server
- url: https://api.cloud.llamaindex.eu/api/v1
  description: EU Production Server
security:
- bearerAuth: []
tags:
- name: Index Files
  description: Manage files within an index, including upload, listing, and status monitoring.
paths:
  /pipelines/{pipelineId}/files:
    get:
      operationId: listIndexFiles
      summary: List index files
      description: Retrieve a list of files in the index along with their processing status. Use this endpoint to monitor which files have been successfully indexed.
      tags:
      - Index Files
      parameters:
      - $ref: '#/components/parameters/pipelineId'
      responses:
        '200':
          description: Successfully retrieved list of index files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexFile'
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Index not found
    put:
      operationId: addFilesToIndex
      summary: Add files to an index
      description: Add previously uploaded files to the index for automatic processing. Files can include optional custom metadata that is preserved through the indexing pipeline.
      tags:
      - Index Files
      parameters:
      - $ref: '#/components/parameters/pipelineId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IndexFileInput'
      responses:
        '200':
          description: Files added to index successfully
        '400':
          description: Bad request - invalid file references
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Index not found
components:
  schemas:
    IndexFile:
      type: object
      description: A file within an index, including its processing status.
      properties:
        file_id:
          type: string
          description: Unique identifier of the file.
        name:
          type: string
          description: Original file name.
        status:
          type: string
          enum:
          - pending
          - processing
          - completed
          - error
          description: Processing status of the file within the index.
        metadata:
          type: object
          additionalProperties: true
          description: Custom metadata associated with the file.
    IndexFileInput:
      type: object
      description: Input for adding a file to an index.
      required:
      - file_id
      properties:
        file_id:
          type: string
          description: Identifier of the file to add to the index.
        metadata:
          type: object
          additionalProperties: true
          description: Optional custom metadata to associate with the file.
  parameters:
    pipelineId:
      name: pipelineId
      in: path
      description: Unique identifier of the index (pipeline).
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: LlamaCloud API key obtained from the LlamaCloud dashboard. Include as a Bearer token in the Authorization header.
externalDocs:
  description: LlamaCloud API Documentation
  url: https://developers.api.llamaindex.ai/
