openapi: 3.1.0
info:
  title: LlamaIndex LlamaCloud Data Sources Projects API
  description: The LlamaCloud API is the central REST API for LlamaIndex's cloud platform, providing programmatic access to managed document processing, indexing, and retrieval services. It enables developers to build production-grade LLM applications by leveraging cloud-hosted infrastructure for document ingestion, knowledge management, and agent orchestration. The API supports authentication via API keys and is available in both US and EU regions.
  version: '1.0'
  contact:
    name: LlamaIndex Support
    url: https://www.llamaindex.ai/contact
  termsOfService: https://www.llamaindex.ai/terms-of-service
servers:
- url: https://api.cloud.llamaindex.ai/api/v1
  description: US Production Server
- url: https://api.cloud.llamaindex.eu/api/v1
  description: EU Production Server
security:
- bearerAuth: []
tags:
- name: Projects
  description: Manage projects that organize pipelines, files, and other resources.
paths:
  /projects:
    get:
      operationId: listProjects
      summary: List projects
      description: Retrieve a list of all projects associated with the authenticated account. Projects serve as organizational containers for pipelines, files, and other resources.
      tags:
      - Projects
      responses:
        '200':
          description: Successfully retrieved list of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized - invalid or missing API key
    post:
      operationId: createProject
      summary: Create a project
      description: Create a new project to organize pipelines, files, and other cloud resources.
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Bad request - invalid project parameters
        '401':
          description: Unauthorized - invalid or missing API key
  /projects/{projectId}:
    get:
      operationId: getProject
      summary: Get a project
      description: Retrieve details of a specific project by its identifier.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: Successfully retrieved project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized - invalid or missing API key
        '404':
          description: Project not found
components:
  schemas:
    CreateProjectRequest:
      type: object
      description: Request body for creating a new project.
      required:
      - name
      properties:
        name:
          type: string
          description: Human-readable name for the new project.
    Project:
      type: object
      description: A project that organizes pipelines, files, and other cloud resources.
      properties:
        id:
          type: string
          description: Unique identifier of the project.
        name:
          type: string
          description: Human-readable name of the project.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the project was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the project was last updated.
  parameters:
    projectId:
      name: projectId
      in: path
      description: Unique identifier of the project.
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: LlamaCloud API key obtained from the LlamaCloud dashboard. Include as a Bearer token in the Authorization header.
externalDocs:
  description: LlamaCloud API Documentation
  url: https://developers.api.llamaindex.ai/
